* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NormalVerdana;
}

body {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input {
  border: none;
  background-color: transparent;
  font-size: inherit;
}
